# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\frontend\source\project666\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
